@{

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Hospital_System_Management.Models
@model List<ReservationModel>

<div id="main">
    <h1>Appointments</h1>
    <table class="table">
       <thead>
           <tr>
              <th>Name</th>
              <th>Surname</th>
              <th>Age</th>
              <th>ID Card</th>
              <th>Service</th>
              <th>Date</th>
              
           </tr>
       </thead>
       <tbody>
            @foreach (var appointment in Model)
             {
                <tr>
                   <td>@appointment.Name</td>
                   <td>@appointment.Surname</td>
                    <td>@appointment.Mosha</td>
                   <td>@appointment.IDCard</td>
                    <td>@appointment.Sherbimi</td>
                   <td>@appointment.DateSubmitted.ToString("yyyy-MM-dd HH:mm")</td>
                    
                 </tr>
              }
       </tbody>
    </table>
</div>
