@using Hospital_System_Management.Models

@{
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}
@model List<ReservationModel>

<div id="main">
    <h1>Your Appointment </h1>
    <br />

    @if (Model.Count > 0)
    {
        <table class="table table-hover">
            <thead style="background-color: #9abddc;">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>ID Card</th>
                    <th>Services</th>
                    <th>Date submitted</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody style="background-color: #EAF0FA;">
                @foreach (var submission in Model)
                {
                    <tr>
                        <td>@submission.Name</td>
                        <td>@submission.Surname</td>
                        <td>@submission.Mosha</td>
                        <td>@submission.IDCard</td>
                        <td>@submission.Sherbimi</td>
                        <td>@submission.DateSubmitted</td>
                        
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No appointments  found.</p>
    }
</div>
