@{
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}
@using Hospital_System_Management.Models;
@model ComplaintModel;
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<style>

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background: #b6e1e0;
    }

    body, input, textarea, a {
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    #section {
        width: 100%;
        padding: 10px;
    }

    .box {
        position: relative;
        width: 1100px;
        margin: auto;
        margin-top: 35px;
    }



    .form {
        width: 65%;
        margin-left: 200px;
        padding: 35px 25px 35px 25px;
        background: white;
    }

        .form h1 {
            color: #68bde1;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 28px;
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: center;
        }

        .form h2 {
            color: mintcream);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            margin-top: 2px;
            margin-bottom: 2px;
            text-align: center;
        }

    .form-title {
        text-align: left;
        margin-left: 23px;
        font-size: 28px;
        letter-spacing: 0.5px;
    }



    .form-fields input,
    .form-fields textarea {
        border: none;
        outline: none;
        background: none;
        font-size: 18px;
        padding: 20px 10px 20px 5px;
        width: 70%;
    }

    .form-fields textarea {
        height: 150px;
        resize: none;
    }

    .form-group {
        width: 16%;
        padding: 0px 15px;
        margin: 14px 2px;
        border-radius: 5px;
        box-shadow: inset 2px 2px 2px gray;
    }

    .form-fields .form-group:first-child {
        width: 96%;
    }

    .form-fields .form-group:nth-child(2) {
        width: 96%;
    }

    .form-fields .form-group:nth-child(3) {
        width: 96%;
    }

    .form-fields .form-group:last-child {
        width: 96%;
    }

    .submit-button {
        width: 45%;
        height: 60px;
        margin-left: 28%;
        border-radius: 30px;
        font-size: 20px;
        font-weight: 700;
        outline: none;
        cursor: pointer;
        color: #fff;
        text-align: center;
        background: #68bde1;
        box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffff;
        transition: .5s;
    }

        .submit-button:hover {
            background: lightblue;
        }
</style>
<div id="main">
    <section id="section">
        <div class="box">
            <div class="info">
            </div>
            <div class="form">
                <h1>Dear Patient,you can write your complaints here!</h1>
                <h2>""Listening, Improving, Healing: Hospital Complaints Matter""</h2>
                <form action="@Url.Action("CreateC", "Patient")" method="post" name="mesazhi">
                    <!-- aksioni - kontrolleri. -->
                    <div class="form-fields">
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.Name, new { @class = "fname", placeholder = "First Name" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.Surname, new { @class = "lname", placeholder = "Last Name" })
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.DateSubmitted, new {@type="date", placeholder = "Date Submitted" })
                        </div>
                        <div class="form-group">
                            @Html.TextAreaFor(model => model.Explanation, new { @class = "explanation", placeholder = "Explanation" })
                        </div>


                    </div>
                    <input type="submit" value="Send complaint" class="submit-button" name="save">
                </form>
            </div>
        </div>
    </section>
</div>
