@model Hospital_System_Management.Models.ReservationModel
@{
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}
<div id="main"> 

    <div class="container">
        <div class="row">
            <h1>Change your Appointment</h1>
            <div class="col-md-6">
                <form method="post" action="@Url.Action("EditReservation", "Patient")">
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <div class="form-group">
                        <label for="Name">First Name</label>
                        <input type="text" class="form-control" id="firstName" name="FirstName" value="@Model.Name" />
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" name="LastName" value="@Model.Surname" />
                    </div>
                    <div class="form-group">
                        <label for="email">Age</label>
                        <input type="number" class="form-control" id="email" name="Email" value="@Model.Mosha" />
                    </div>
                    <div class="form-group">
                        <label for="phone">Id Card</label>
                        <input type="text" class="form-control" id="phone" name="Phone" value="@Model.IDCard" />
                    </div>
                    <div class="form-group">
                        <label for="phone">Services</label>
                        <input type="text" class="form-control" id="sherbimi" name="Card" value="@Model.Sherbimi" />
                    </div>
                    <div class="form-group">
                        <label for="phone">Date</label>
                        <input type="datetime" class="form-control" id="data" name="Date" value="@Model.DateSubmitted" />
                    </div>
                    

                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
