@model Hospital_System_Management.Models.RegisterModel
@{
    Layout = "~/Views/Shared/_ReceptionistLayout.cshtml";
}
<div id="main">
    <h1>Delete Registration</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form method="post" action="@Url.Action("DeleteConfirmed", "receptionist")">
                    <div class="alert alert-danger">
                        <p>Are you sure you want to delete the contact form submission with the following details?</p>
                        <ul>
                            <li><strong>First Name:</strong> @Model.Name</li>
                            <li><strong>Last Name:</strong> @Model.Surname</li>
                            <li><strong>Age:</strong> @Model.Age</li>
                            <li><strong>Birth Place:</strong> @Model.BirthPlace</li>
                            <li><strong>ID Card:</strong> @Model.IDCard</li>
                            <li><strong>Date of birth:</strong> @Model.DateSubmitted</li>
                        </ul>
                    </div>
                    <input type="hidden" name="id" value="@Model.Id" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <a href="@Url.Action("Register", "receptionist")" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
