@model Hospital_System_Management.Models.PaymentModel
@{
    Layout = "~/Views/Shared/_ReceptionistLayout.cshtml";
}
<div id="main">
    <h1>Delete payment</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form method="post" action="@Url.Action("DeleteConfirmedP", "Receptionist")">
                    <div class="alert alert-danger">
                        <p>Are you sure you want to delete the payment with the following details?</p>
                        <ul>
                            <li><strong>First Name:</strong> @Model.Name</li>
                            <li><strong>Last Name:</strong> @Model.Surname</li>
                            <li><strong>Department name:</strong> @Model.DeptName</li>
                            <li><strong>Doctor name:</strong> @Model.DoctorName</li>
                            <li><strong>Control name:</strong> @Model.Kontrolla</li>
                            <li><strong>Payment:</strong> @Model.PaymentTotal</li>
                            <li><strong>Date of payment:</strong> @Model.DateSubmitted</li>
                        </ul>
                    </div>
                    <input type="hidden" name="id" value="@Model.Id" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <a href="@Url.Action("Checks", "Receptionist")" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
