@model Hospital_System_Management.Models.RoomReservationModel
@{
    Layout = "~/Views/Shared/_ReceptionistLayout.cshtml";
}
<div id="main"> 

    <div class="container">
        <div class="row">
            <h1>Edit Room</h1>
            <div class="col-md-6">
                <form method="post" action="@Url.Action("EditRoom", "Receptionist")">
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <div class="form-group">
                        <label for="RoomNumber">Room number</label>
                        <input type="number" class="form-control" id="RoomNumber" name="RoomNumber" value="@Model.RoomNumber" />
                    </div>
                    <div class="form-group">
                        <label for="Name">First Name</label>
                        <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" />
                    </div>
                    <div class="form-group">
                        <label for="Surname">Last Name</label>
                        <input type="text" class="form-control" id="Surname" name="Surname" value="@Model.Surname" />
                    </div>
                    <div class="form-group">
                        <label for="BirthPlace">Birthplace</label>
                        <input type="text" class="form-control" id="BirthPlace" name="BirthPlace" value="@Model.BirthPlace" />
                    </div>
                    <div class="form-group">
                        <label for="DateSubmitted">Date of birth</label>
                        <input type="date" class="form-control" id="DateSubmitted" name="DateSubmitted" value="@Model.DateSubmitted.ToString("yyyy-MM-dd")" />
                    </div>

                    <div class="form-group">
                        <label for="IDCard">Id Card</label>
                        <input type="number" class="form-control" id="IDCard" name="IDCard" value="@Model.IDCard" />
                    </div>

                    <br />
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>