@using Hospital_System_Management.Models

@{
    Layout = "~/Views/Shared/_ReceptionistLayout.cshtml";
}
@model List<RegisterModel>

<div id="main">
    <h1>Registered patients </h1>
    <br />

    @if (Model.Count > 0)
    {
        <table class="table table-hover">
            <thead style="background-color: #9abddc;">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>ID Card</th>
                    <th>Date submitted</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody style="background-color: #EAF0FA;">
                @foreach (var submission in Model)
                {
                    <tr>
                        <td>@submission.Name</td>
                        <td>@submission.Surname</td>
                        <td>@submission.Age</td>
                        <td>@submission.IDCard</td>
                        <td>@submission.DateSubmitted</td>
                        <td>
                            <a href="@Url.Action("EditRegistration", "receptionist", new { id = submission.Id })" class="btn btn-primary btn-sm">Edit</a>
                            <a href="@Url.Action("DeleteRegistration", "receptionist", new { id = submission.Id })" class="btn btn-danger btn-sm">Delete</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No contact form submissions found.</p>
    }
</div>
