@using Hospital_System_Management.Models
@{
    Layout = "~/Views/Shared/_ReceptionistLayout.cshtml";
}

@model List<MakeReservationModel>


 <link rel="stylesheet" href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'>
     <style>
          
    .styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 600px;
    margin-left:22%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
            background-color: rgb(175, 226, 243);
    color: #ffffff;
    text-align: left;.
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
                border-bottom: 2px solid rgb(175, 226, 243);
}

#a1 {
  padding-top: 100px;
  padding-left: 8vw;
  padding-right:6vw;
  z-index: -1;
}
#r{
    align-items: center;
        background-color: rgb(175, 226, 243);
  border: 1px solid #DFDFDF;
  border-radius: 16px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 28px;
  max-width: 20%;
  padding: 14px 22px;
  text-decoration: none;
  transition: all .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  margin-top: -5%;
  margin-left:35%;
  }

#r:hover{
        background-color: rgb(175, 226, 230);
        border-color: rgb(175, 226, 230);
}

     </style>


    <div id="a1">
      <br>
       @if (Model.Count > 0)
    {
        <table class="styled-table">
            <a href=""><Button id='r'>Make an appointment</Button></a>
            <br>
            <thread>
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Age</th>
                    <th>ID Card</th>
                    <th>Action</th>
                </tr>
            </thread>
            <tbody>
                @foreach (var submission in Model)
                {
                    <tr>
                        <td>@submission.Name</td>
                        <td>@submission.Surname</td>
                        <td>@submission.Age</td>
                        <td>@submission.IDCard</td>
                        <td id='de'><a href=""><button id="d">DELETE</button></a>
                            <a href="@Url.Action("EditReservation", "receptionist", new { id = submission.Id })" class="btn btn-primary btn-sm">Edit</a>
                            <a href="@Url.Action("DeleteReservation", "receptionist", new { id = submission.Id })" class="btn btn-danger btn-sm">Delete</a>
                    </tr>
                }

               </tbody>
            </table>
    }
    else
    {
        <p>No appointments found.</p>
    }
</div>